<a href="https://colab.research.google.com/github/sharonma1218/stats306/blob/main/readings/week_13_readings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
library(tidyverse)
options(repr.plot.width = 5, repr.plot.height = 4)

Warning message in system("timedatectl", intern = TRUE):
“running command 'timedatectl' had status 1”
── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.4.1     ✔ purrr   1.0.1
✔ tibble  3.2.0     ✔ dplyr   1.1.0
✔ tidyr   1.3.0     ✔ stringr 1.4.1
✔ readr   2.1.4     ✔ forcats 1.0.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

# Week 13 Readings

## 3: Simple Linear Regression

In [ ]:
# Code

## An example of how you make a tibble

#### A tibble: 6 × 3
|year|title|rating
|----|-----|------
|\<dbl\>|\<chr\>|\<dbl\>
|1994|Forrest Gump|8.8
|1998|Saving Private Ryan|8.6
|1999|The Green Mile|8.6
|1995|Toy Story|8.3
|2010|Toy Story 3|8.3
|2002|Catch Me If You Can|8.1

## An example of how to type functions and URLs


Use `dplyr` functions (e.g., `filter()`, `mutate()`, `select()`, `arrange()`) to reproduce this table. Your table should match the above table exactly. *(1 point)*

**HINT 1:** You can use the [`str_detect()` function](https://stringr.tidyverse.org/reference/str_detect.html) to find the rows in which "Tom Hanks" appears in `actors_list`.

**HINT 2:** The movie Forrest Gump is incorrectly listed as Forest Bump in `imdb250`. You will need to fix this in order to match the table exactly.